.image-viewer{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #ffffffe0;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
}
.image-viewer-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.image-viewer-header-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-viewer-header-user > div {
    margin-left: 20px;
}
.image-viewer-header-user > div > p {
    font-size: 16px;
}
.image-viewer-header-user > div > span {
    font-size: 14px;
    color: gray;
}
.image-viewer-cross {
    color: black;
}
.image-viewer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.image-viewer-body > img {
    width: auto;
    height: 50vh;
}
@media only screen and (max-width: 500px) {
    .image-viewer{
        overflow: hidden;
    }
    .image-viewer-body > img {
        padding: 0 20pxs;
        width: auto;
        height: 30vh;
    }
}